.brand_btn{
  background-color: #f2f2f2 ;
  margin-left: 40px;
}

.filter_card{
  background-color: #f2f2f2 ;

}

.allproducts_card{
  background-color: #f2f2f2 ;
  

}

.all_cards{
  background-color: #f2f2f2 ;

}